# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

# Django
*.pot
*.pyc
db.sqlite3
media/
static/

# Node
node_modules/
.next/
.cache/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 